// Templates for Angular.js rendering
%div.row
  %h2= "Overview"
  %noscript
    %p
      WARNING: You need Javascript enabled to use this web page!
  %p
    The CSVW Test Suite provides an interactive mechanism to check the 
    conformance of an CSVW processor. 
    This service is intended for anybody that wants to see how CSVW works as 
    well as developers that want to do conformance testing on their own 
    CSVW implementations.
  %p
    There are several things that you can do on this web page:
  %ul
    %li
      To run a unit test, click on the
      %button.btn.btn-primary= "Test"
      link.
    %li
      To see the details of a unit test, click on the
      %button.btn.btn-info= "details"
      link.
    %li
      You can execute every unit test by clicking on the
      %button.btn.btn-primary= "Run All Tests"
      button.
    %li
      After running all tests, you can generate an <a href="">EARL Report</a>
      using the
      %button.btn.btn-primary= "EARL Report"
      button.
%div.row
  %h2= "Status"
  %ul
    %li
      These tests are in active development by the
      %a{:href => "http://www.w3.org/2013/csvw/"}
        CSV on the Web Working Group
      at the
      %a{:href => "http://www.w3c.org"}
        World Wide Web Consortium
    %li
      These tests may be used to check conformance for a CSVW.
    %li
      The tests are subject to change at any point between now and September 2015.
    %li
      All bugs, suggestions and thoughts about The CSVW Test Suite
      should be sent to the
      %a{:href => "mailto:public-csv-wg"}
        CSV on the Web Working Group mailing list.
