<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NZ49TR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NZ49TR');</script>
<!-- End Google Tag Manager -->
<header>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=<%= url("/") %> target="_self"><%= settings.app_name %></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%=active_page?("distiller")%>"><a href="/distiller" target="_self">Distiller</a></li>
          <li class="<%=active_page?("about")%>"><a href="/about" target="_self">About</a></li>
          <li class="<%=active_page?("doap")%>"><a href="/doap" target="_self">Project Descriptions</a></li>
          <li><a href="/yard/index.html" target="_blank">Documentation</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://github.com/gkellogg/rdf-distiller/issues" target="_other">Issue Tracker</a></li>
            </ul>
          </li>
          <li><a href="https://github.com/gkellogg/rdf-distiller/releases/tag/<%= RDF::Distiller::VERSION.to_s %>" target="_other">v<%= RDF::Distiller::VERSION.to_s %></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>