<section class="container-fluid">
  <h1><%= title %></h1>
  <p><a href="https://ruby-rdf.github.com/rdf">RDF.rb</a> is a suite of Ruby Gems providing
  classes that implement elements of the
  <a href="https://www.w3.org/TR/rdf-concepts/">Resource Description Framework</a> in Ruby.</p>
  <section class="informative">
    <h2 id="about_rdf">About RDF</h2>

    <p>Short for <em>R</em>esource <em>D</em>escription <em>F</em>ramework,
    <a href="https://en.wikipedia.org/wiki/RDF">RDF</a> is the language of the <a href="https://en.wikipedia.org/wiki/Semantic_Web">Semantic
    Web</a>. It provides for a number
    of machine-readable formats for expressing meta-data.</p>

    <p>Developed under the guidance of the World Wide Web Consortium (W3C), RDF
    was designed to create a machine-readable graph of information about
    different entities called Resources.</p>

    <p>Resources are defined by a
    <a href="https://en.wikipedia.org/wiki/URI">URI</a>(Universal Resource Identifier)
    and are defined by a series of statements relating a <em>Subject</em> resource
    using a <em>Predicate</em> to an <em>Object</em> resource or a literal, such as a
    string or date.</p>

    <p>RDF is based on the idea of making statements about resources in the form
    of subject-predicate-object expressions, known as <em>Statement</em>s in RDF
    terminology. <em>Subject</em>s represent resources, typically associated with a
    URI. <em>Predicate</em>s are also represented as URIs, and refer to a particular
    defined Ontology relative to a namespace. <em>Object</em>s are either other URI
    resources or literals, such as strings or typed scalar data types such as
    dates and durations.</p>
  </section>
  <section>
    <h2 id="about_the_rdfrb_service">About the RDF.rb service</h2>

    <p>The service provides a means of manipulating RDF resources as a web
    service using the <a href="https://rubygems.org/gems/linkeddata">linkeddata</a> gem,
    based on RDF.rb and related gems. The service includes Readers and
    Writers for the following RDF serialization formats:</p>
    <p>This is version <%= RDF::Distiller::VERSION %>
      of the RDF Distiller. The source for this site is maintained on
      <a href="https://github.com/gkellogg/rdf-distiller"><%= "GitHub" %></a>
      and is freely available to be copied and extended with or without attribution.
    </p>
    <dl>
      <% RDF::Format.each do |format| %>
        <dt><%= format.to_s.sub(/::Format$/, '') + "(#{format_version(format)})" %></dt>
        <dd>This format has
          <% if format.reader && format.writer %>
            a reader and a writer
          <% elsif format.reader %>
            a reader
          <% elsif format.writer %>
            a writer
          <% else %>
            neither a reader nor a writer
          <% end %>
          <% unless format.content_type.empty? %>
            for
            <%= format.content_type.join(", ") %>
          <% end %>
          <%= "." %>
        </dd>
      <% end %>
      <dt>RDF::XSD <%= "(#{RDF::XSD::VERSION})" %></dt>
      <dd>RDF XSD</dd>
      <dt>SPARQL <%= "(#{SPARQL::VERSION})" %></dt>
      <dd>SPARQL 1.1 Query</dd>
      <dt>SPARQL::Client <%= "(#{SPARQL::Client::VERSION})" %></dt>
      <dd>SPARQL Client</dd>
    </dl>
    <p>The <a href="/distiller">distiller</a> can be used to read existing web resources, or
      data from an input form and generate the output in an alternative format.</p>
  </section>
</section>
