!!! 5
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %title= title
    %link{:rel => "stylesheet", :href => "/css/main.css", :type => "text/css"}
    %script{:type => 'text/javascript', :charset => "utf-8", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
    :javascript
      // Navigation
      $(function () {
        // Select appropriate nav tab
        var href = window.location.pathname;
        $('nav.main a').removeClass('selected');
        $('nav.main a[href="' + href + '"]').addClass('selected');
      });
    = partial "#{head}_head".to_sym rescue nil
  %body
    = partial :header
    = yield
    = partial :footer
