<% require 'cgi'
params["fmt"] ||= :html
%>
<h1><%= title %></h1>
<div prefix="sd: http://www.w3.org/ns/sparql-service-description# void: http://rdfs.org/ns/void#" typeof="sd:Service">
  <p>The SPARQL <a property="sd:endpoint" href="<%=url()%>">endpoint</a>
    supports
    <span property="sd:supportedLanguage" resource="sd:SPARQL10Query">
      <a href="http://www.w3.org/TR/2008/REC-rdf-sparql-query-20080115/">SPARQL 1.0 Query</a>
    </span>
    and defines a single 
    <span property="sd:defaultDataset" typeof="sd:Dataset">default dataset
      having a
      <span property="sd:defaultGraph" typeof="sd:Graph">
        Single default graph containing <span property="void:triples" datatype="xsd:integer"><%=doap_count%></span>
        triples describing
        <a href="https://github.com/edumbill/doap/wiki">
          <abbr title="Description of a Project">DOAP</abbr>
        </a>
        information about gems included in the RDF Distiller. A dump of the default dataset can be retrieved
        from <a property="void:dataDump" href="/doap.nt"><%=url("/doap.nt")%></a>.
      </span>
    </span>
  </p>
  <dl>
    <dt>RDF formats</dt>
    <dd><ul rel="sd:resultFormat">
      <li><a href="http://www.w3.org/ns/formats/N-Triples">N-Triples</a></li>
      <li><a href="http://www.w3.org/ns/formats/RDFa">RDFa</a></li>
      <li><a href="http://www.w3.org/ns/formats/RDF_XML">RDF/XML</a></li>
      <li><a href="http://www.w3.org/ns/formats/Turtle">Turtle</a></li>
      <li>Others may be supported as well</li>
    </ul></dd>
    <dt>SPARQL Results formats</dt>
    <dd><ul>
      <li>HTML</li>
      <li><a href="http://www.w3.org/ns/formats/SPARQL_RESULTS_JSON">JSON</a></li>
      <li><a href="http://www.w3.org/ns/formats/SPARQL_RESULTS_XML">XML</a></li>
    </ul></dd>
  </dl>
  <p>The service will <span property="sd:feature" resource="sd:DereferencesURIs">Dereference URIs</span>
    used in <code>FROM</code> and <code>FROM NAMED</code> clauses.</p>
</div>
<nav class="distiller">
  <ul>
    <li><a class='url' href="#url">From URL</a></li>
    <li><a class='input' href="#input">From Form Input</a></li>
  </ul>
</nav>
<form action="/sparql" method="post" enctype="multipart/form-data">
  <fieldset class="url input">
    <legend>Distill RDF Information</legend>
    <fieldset class="url input">
      <label for="uri">URI</label>
      <input id="uri" name="uri" size="80" type="text" value="<%= params['uri'] %>"/>
    </fieldset>
    <fieldset class="url input">
      <legend>Options</legend>
      <p>
        <label for="fmt">Output Format:</label>
        <select id="fmt" name="fmt">
          <% (%w(html xml json sse) + formats(:writer).map(&:to_s)).sort.uniq.each do |sym| %>
            <option value="<%=sym%>" <%= 'selected="selected"' if params["fmt"].to_s == sym.to_s %>><%=sym %></option>
          <% end %>
        </select>
      </p>
      <p>
        <label for="debug">Show Query debug information:</label>
        <input id="debug" name="debug" type="checkbox" value="true" /><br/>
        <label for="raw">Raw Output:</label>
        <input id="raw" name="raw" type="checkbox" value="true" />
      </p>
    </fieldset>
    <fieldset class="input">
      <legend>QUERY</legend>
      <textarea class="input" cols="120" id="query" name="query" rows="15"><%= @query %></textarea>
    </fieldset>
    <input name="commit" type="submit" value="Submit" />
  </fieldset>
</form>

<% if @error -%>
<div class="errors">
  <h2>Errors</h2>
  <pre><%= CGI.escapeHTML(@error) %></pre>
</div>
<% end -%>

<div class="results">
<% if @output -%>
  <h2>Result</h2>
  <p>Note, to see result directly, such as JSON or XML results, choose the 'Raw Output' option above.</p>
  <% if params["fmt"] == "html" -%>
  <%= @output %>
  <% else -%>
  <textarea class="<%= params["fmt"] %>" rows="20" cols="120"><%= CGI.escapeHTML(@output)%></textarea>
  <% end -%>
<% end -%>
</div>

<% if @debug %>
<div class="debug">
  <h2>Parser Debug Information:</h2>
  <textarea rows="20" cols="120"><%= CGI.escapeHTML(@debug.join("\n")) %></textarea>
</div>
<% end %>

<div>
  <h2>Alternative access to the SPARQL endpoint</h2>
  <p>The SPARQL endpoint URI may be used directly with an HTML GET by passing the source URI and other options as parameters:</p>
  <pre class="alt_access">
    <%=
      url = url('/sparql')
      url_params = []
      url_params << %(format=#{params["fmt"]}) if params["fmt"]
      url_params << %(query=#{CGI.escape(params["query"].to_s)}) if params["query"]
      url_params << %(url=#{params["uri"]}) unless params["uri"].nil?
      url += "?#{url_params.join('&')}" unless url_params.empty?
      %(<a target="_blank" href="#{url}">#{url}</a>)
    %>
  </pre>
</div>

